<!doctype html>
<html lang="es">
  {% load static tailwind_tags %} {% load markdown_extras %} {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ product.name }} - Blog</title>
    <link rel="{% static 'icon.png' %}" type="image/x-icon" href="icon.png" />
    {% tailwind_preload_css %} {% tailwind_css %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-main text-custom">
    <nav class="bg-accent-basic w-full px-4 py-2.5">
      <div class="max-w-7xl mx-auto grid grid-cols-12 items-center gap-4">
        <a class="col-span-2 sm:col-span-1" href="{% url 'index' %}">
          <img
            src="{% static 'icon.png' %}"
            alt="logo"
            class="w-[30px] h-[24px]"
          />
        </a>

        <div
          class="col-span-8 sm:col-span-10 grid grid-cols-1 md:grid-cols-12 items-center gap-4"
        >
          <ul
            class="md:col-span-8 grid grid-flow-col auto-cols-max gap-4 items-center"
          >
            <li>
              <a
                class="text-custom hover:opacity-75 font-normal"
                href="{% url 'index' %}"
                >Inicio</a
              >
            </li>
            <li>
              <a
                class="text-custom hover:opacity-75 font-normal"
                href="{% url 'product_list' %}"
                >Blog</a
              >
            </li>
            <li>
              <a
                class="text-custom hover:opacity-75 font-normal"
                href="{% static 'CV.pdf' %}"
                >CV</a
              >
            </li>
            <li class="relative group">
              <button
                type="button"
                class="text-custom hover:opacity-75 inline-grid grid-flow-col items-center gap-1 focus:outline-none"
              >
                Proyectos <span>▼</span>
              </button>
              <ul
                class="absolute left-1/2 -translate-x-1/2 hidden group-hover:grid group-focus-within:grid bg-white border border-gray-200 shadow-md rounded-md py-2 w-[calc(100vw-2rem)] max-w-xs sm:w-56 sm:left-0 sm:translate-x-0 z-50"
              >
                <li>
                  <a
                    class="block px-4 py-2 text-black hover:bg-gray-100"
                    href="https://github.com/mechikuroki/tp1"
                    >Reproductor de música</a
                  >
                </li>
                <li>
                  <a
                    class="block px-4 py-2 text-black hover:bg-gray-100"
                    href="https://github.com/mechikuroki/nomekops"
                    >Implementación de diferentes DSA</a
                  >
                </li>
                <li class="my-1 border-t border-gray-200"></li>
                <li>
                  <a
                    class="block px-4 py-2 text-black hover:bg-gray-100"
                    href="https://github.com/mechikuroki"
                    >Github</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div
          class="col-span-2 sm:col-span-1 grid place-items-center justify-self-end"
        >
          <div class="grid place-items-center">
            <input
              type="radio"
              id="mode_dark"
              name="mode"
              value="dark"
              class="sr-only"
            />
            <label
              for="mode_dark"
              class="w-10 h-10 grid place-items-center cursor-pointer hidden"
              >🌙</label
            >
            <input
              type="radio"
              id="mode_light"
              name="mode"
              value="light"
              class="sr-only"
              checked
            />
            <label
              for="mode_light"
              class="w-10 h-10 grid place-items-center cursor-pointer hidden"
              >☀️</label
            >
          </div>
        </div>
      </div>
    </nav>

    <h1
      class="font-normal text-custom text-[clamp(2.5rem,6vw,4.75rem)] p-[20px_10px]"
    >
Registrarse</h1>
<form method="POST">
    {% csrf_token %}
    
    {% if form.non_field_errors %}
        <div class="text-red-500">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <div>
        {{ form.username.label_tag }} <br>
<div class="bg-[var(--accent-color-basic)]">
        {{ form.username }}
    </div>
        {% if form.username.errors %}
            <p class="text-red-500">{{ form.username.errors.as_text }}</p>
        {% endif %}
    </div>
    <br>

    <div>
        {{ form.email.label_tag }} <br>
<div class="bg-[var(--accent-color-basic)]">
        {{ form.email }}
    </div>
        {% if form.email.errors %}
            <p class="text-red-500">{{ form.email.errors.as_text }}</p>
        {% endif %}
    </div>
    <br>

    <div>
        {{ form.password1.label_tag }} <br>
<div class="bg-[var(--accent-color-basic)]">
        {{ form.password1 }}
    </div>
        {% if form.password1.errors %}
            <p class="text-red-500">{{ form.password1.errors.as_text }}</p>
        {% endif %}
    </div>
    <br>

    <div>
        {{ form.password2.label_tag }} <br>
<div class="bg-[var(--accent-color-basic)]">
        {{ form.password2 }}
    </div>
        {% if form.password2.errors %}
            <p class="text-red-500">{{ form.password2.errors.as_text }}</p>
        {% endif %}
    </div>
    <br>
            <button
              type="submit"
              class="btn btn-primary btn-lg w-full sm:w-auto px-5 py-2 font-semibold border-4 border-[var(--accent-color-basic)]"
            >
 
Registrarse</button>
</form>

<p>¿Tenés una cuenta? <a class="link" href="{% url 'login' %}">Registrate</a></p>


   <footer class="bg-accent text-center py-4 mt-8">
      <div class="mb-5"></div>
      <h4
        class="font-normal text-custom text-[clamp(1.5rem,3vw,1.875rem)] bg-accent-basic p-2.5"
      >
        ¡Contactame!
      </h4>
      <div class="text-center">
        <a
          class="p-2.5 inline-block dark-link link"
          href="mailto:kurokimercedes@gmail.com"
          >Email</a
        >
      </div>
      <div class="mb-5"></div>
      <div class="text-center">
        <a
          class="p-2.5 inline-block dark-link link"
          href="https://github.com/mechikuroki"
          >Github</a
        >
      </div>
      <div class="mb-5"></div>
    </footer>
  </body>
</html>
